<label>
  Mark1
</label>

<input type="number" [(ngModel)]="m1"/>
<br>
<label>
  Mark2
</label>

<input type="number" [(ngModel)]="m2"/>
<br>

<label>
  Mark3
</label>

<input type="number" [(ngModel)]="m3"/>

<br>
<button (click)="sum()">Calculate Total</button>
 
<div *ngIf="result">
The Result is {{ result }}
</div>

 <p>Result types</p>
<div *ngFor="let type of typeOfResult">
     {{ type | lowercase }}
    </div>>

<p>Today is{{currentDate}}</p>
<p>Today is{{currentDate | date:"MM/dd/yy"}}</p>

